body{
    /* background-size: 1440px; 1440px */
    background-color: #d6e1f0;
}
div.a{
    background: #fff;
    border-radius: 19px;
    position: relative;
    width: 243px;
    top: 144px;
    left: 628px;
    height: 380px;

}
.pic{
    position: relative;
    border-radius: 10px;
    top: 11px;
    width: 219px;
    height: 223px;
    left: 12px;
}
.pa
{
    color: #1e314c;
    font-size: 17px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    text-align: center;
    /* padding: -3px; */
    margin: 17px;
  
}
.pb{
    color: #a6aab3;
    font-size: 12px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin: 25px;
}